## **THEORTICAL QUESTIONS**

1. **What are data structures, and why are they important?**

  - Data structures are used to organize and store data efficiently for easy access and modification.
  They are important because they manage large amounts of data and improve the performance of algorithms.


2. **Explain the difference between mutable and immutable data types with examples.**
  - **Mutable:** data types can be changed after creation.
  Ex: list = [1,2,3]
  list[0] = 5  -> [5,2,3]

  - **Immutable:** data types cannot be changed after creation.
  Ex: string = "Hello"
  string[0] = 'h' -> typeerror



3. **What are the main differences between lists and tuples in Python?**
  - **Mutability:** Lists are mutable; tuples are immutable.

  - **Syntax:** Lists use square brackets []; tuples use parentheses ()
  
  - **Performance:** Tuples are faster and use less memory.
  
  - **Use Cases:** Lists for dynamic data; tuples for fixed data.


4. **Describe how dictionaries store data.**

   - Dictionaries store data in key-value pairs using a hash table internally. Each key must be unique and immutable, and it maps directly to a corresponding value. Ex: {"name": "Alice", "age": 25}.


5. **Why might you use a set instead of a list in Python?**

 - A set ensures all elements are unique
 and provides faster lookups than lists. It's ideal when you need to eliminate duplicates.


6. **What is a string in Python, and how is it different from a list?**

  - A string is an immutable sequence of characters, while a list is a mutable sequence of any data type. Strings can't be changed after creation; lists can be modified.


7. **How do tuples ensure data integrity in Python?**

  - Tuples are immutable, it means their contents can't be altered. This ensures that data remains constant and safe, making tuples suitable for read-only or fixed datasets.


8. **What is a hash table, and how does it relate to dictionaries in Python?**

   - A hash table is a data structure
   that maps keys to values using a hash function. Python dictionaries use hash tables internally to allow fast access, insertion, and deletion of key-value pairs.


9. **Can lists contain different data types in Python?**

  - Yes, Python lists are heterogeneous
  meaning they can contain different data types. Ex: [1, "hello", 2.14, True].


10. **Explain why strings are immutable in Python.**

  - Strings are immutable for performance, security, and hashing. Since strings are frequently used, making them immutable allows efficient memory sharing and safe use as keys in dictionaries.


11. **What advantages do dictionaries offer over lists for certain tasks?**

  - Dictionaries provide fast key-based access to data, making them more efficient and descriptive than lists when mapping unique identifiers to values.


12. **Describe a scenario where using a tuple would be preferable over a list.**

  - Tuples are preferred when you need to store fixed, constant data like coordinates or database records, where immutability ensures the data won't accidentally change.


13. **How do sets handle duplicate values in Python?**

  - Sets automatically remove duplicate values, ensuring that all elements are unique without any additional code from the programmer.


14. **How does the “in” keyword work differently for lists and dictionaries?**

  - For lists, in checks for the presence of a value, while for dictionaries, it checks for the presence of a key, not a value.


15. **Can you modify the elements of a tuple? Explain why or why not.**

 - No, tuple elements cannot be modified because tuples are immutable, meaning their contents are fixed once defined.


16. **What is a nested dictionary, and give an example of its use case.**

  - A nested dictionary is a dictionary inside another dictionary, useful for representing hierarchical data like student records by ID: {"101": {"name": "Alice", "grade": "A"}}.


17. **Describe the time complexity of accessing elements in a dictionary.**

  - Accessing elements in a dictionary has an average time complexity of O(1) due to the underlying hash table structure.


18. **In what situations are lists preferred over dictionaries?**

  - Lists are preferred when data is ordered and indexed numerically, or when the relationship between elements is based on position rather than key-value pairing.

19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**
  
  - Dictionaries were historically unordered, it means item positions weren't guaranteed; although insertion order is preserved in modern Python, key-based retrieval still doesn't rely on order.

20. **Explain the difference between a list and a dictionary in terms of data retrieval.**

  - A list retrieves data by index position, while a dictionary retrieves data by key, making dictionaries faster and more intuitive for structured data access.

## **PRACTICAL QUESTIONS**

In [3]:
# 1. Create a string with your name and print it
string = "Nayanojwal"
print(string)

Nayanojwal

In [4]:
# 2. Find the length of the string "Hello World"
string = 'Hello World'
len(string)

11

In [6]:
# 3. Slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
string[0:3]

'Pyt'

In [7]:
# 4. Convert the string "hello" to uppercase
s = "hello"
s.upper()

'HELLO'

In [12]:
# 5. Replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
s1 = s.replace('apple', 'orange')
s1

'I like orange'

In [13]:
# 6. Create a list with numbers 1 to 5 and print it
num = [1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [18]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
num = [1,2,3,4]
num.append(10)
num

[1, 2, 3, 4, 10]

In [19]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
num = [1,2,3,4,5]
num.remove(3)
num

[1, 2, 4, 5]

In [20]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
lis = ['a','b','c','d']
lis[1]

'b'

In [23]:
# 10. Reverse the list [10, 20, 30, 40, 50]
lis = [10,20,30,40,50]
lis.reverse()
lis

[50, 40, 30, 20, 10]

In [24]:
# 11. Create a tuple with the elements 100, 200, 300 and print it
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [25]:
# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [26]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15)
nums = (10, 20, 5, 15)
print(min(nums))

5

In [27]:
# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [28]:
# 15. Create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "kiwi")
print("kiwi" in fruits)

True

In [29]:
# 16. Create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'c', 'b', 'a'}

In [30]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [31]:
# 18. Remove the element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [32]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [33]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [35]:
# 21. Create a dictionary with the keys "name", "age", and "city", and print it
person = {"name": "nayanojwal", "age": 19, "city": "Hyderabad"}
print(person)

{'name': 'nayanojwal', 'age': 19, 'city': 'Hyderabad'}

In [36]:
# 22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [37]:
# 23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [38]:
# 24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [39]:
# 25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [40]:
# 26. Create a list, a tuple, and a dictionary, and print them all
lst = [1, 2, 3]
tup = (4, 5, 6)
dct = {"a": 1, "b": 2}
print(lst, tup, dct)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [42]:
# 27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
num = [10,51,23,69,17]
num.sort()
print(num)

[10, 17, 23, 51, 69]

In [43]:
# 28. Create a list with strings and print the element at the third index
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [47]:
# 29. Combine two dictionaries into one and print the result
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
combine = {**d1, **d2}
print(combine)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [48]:
# 30. Convert a list of strings into a set
str_list = ["apple", "banana", "apple", "cherry"]
str_set = set(str_list)
print(str_set)

{'banana', 'apple', 'cherry'}